@page "/Documents/FileType/{FileTypeId}"
@attribute [Authorize(Roles = DocumentRoles.Contributor)]
@inject IFileTypeQueryService QueryService
@inject NavigationManager NavigationManager
@inject IStringLocalizer<FileTypeDetails> L
@inject ICommandService CommandService
@using Hexalith.Documents.UI.Components.FileTypes.Services
@using Labels = Hexalith.Documents.UI.Pages.Resources.FileTypes.FileTypeDetails;
@using System.Security.Claims
<FluentStack Orientation="Orientation.Vertical" Style="padding:20px;">
    <h3>@L[Labels.Title, FileTypeId]</h3>
    @if (_data is not null)
    {
        <FluentStack Orientation="Orientation.Vertical">
            <FluentStack Orientation="Orientation.Vertical">
                <FluentTextField @bind-Value="_data.Name" Label="@Labels.Name"></FluentTextField>
                <FluentTextField @bind-Value="@_data.Description" Label="@Labels.Description"></FluentTextField>
                <FluentCheckbox @bind-Value="@_data.Disabled" Label="@Labels.Disabled"></FluentCheckbox>
                <FluentLabel Typo="Typography.PaneHeader">@Labels.Targets</FluentLabel>
                <FluentListbox TOption="string">
                    @foreach (string target in _data.Targets)
                    {
                        <FluentOption>@target</FluentOption>
                    }
                </FluentListbox>
            </FluentStack>
            <FluentSpacer />
            <FluentButton Appearance="Appearance.Accent" Disabled="@(!_data.HasChanges)" IconStart="@(new Icons.Regular.Size24.Save())" OnClick="OnSave">@Labels.Save</FluentButton>
        </FluentStack>
    }
</FluentStack>

@code {
    [Parameter]
    [EditorRequired]
    public string FileTypeId { get; set; } = string.Empty;

    [CascadingParameter]
    public Task<AuthenticationState>? AuthenticationStateTask { get; set; }

    ClaimsPrincipal? _user;

    FileTypeEditViewModel? _data = null;

    protected override async Task OnInitializedAsync()
    {
        if (AuthenticationStateTask is not null)
        {
            var authState = await AuthenticationStateTask;
            if (!authState.User.Identity?.IsAuthenticated == false)
            {
                NavigationManager.NavigateTo(Application.LoginPath);
            }
            _user = authState.User;
        }
        if (string.IsNullOrWhiteSpace(FileTypeId))
        {
            _data = new FileTypeEditViewModel();
            return;
        }
        else
        {
            _data = new(await QueryService.GetDetailsAsync(FileTypeId));
        }

        await base.OnInitializedAsync();
    }

    public async Task OnSave()
    {
        if (_data is null)
        {
            return;
        }
        if (string.IsNullOrWhiteSpace(_user?.Identity?.Name))
        {
            throw new InvalidOperationException("User not authenticated");
        }
        await CommandService.SubmitCommandAsync(_user, new ChangeFileTypeDescription(
                _data.Id,
                _data.Name,
                _data.Description)
            , CancellationToken.None);
        NavigationManager.NavigateTo("/Documents/FileType");
    }

}