@page "/Documents/FileType"
@rendermode InteractiveAuto
@inject NavigationManager NavigationManager;
@using Labels = Hexalith.Documents.UI.Pages.Resources.FileTypes.FileTypeIndex;
<FluentToolbar Style="width:100%;">
    <FluentButton Appearance="Appearance.Stealth" IconStart="@(new Icons.Filled.Size20.Add())" OnClick="AddAsync">@Labels.Add</FluentButton>
    <FluentButton Appearance="Appearance.Stealth" IconStart="@(new Icons.Filled.Size20.ArrowImport())" OnClick="ImportAsync">@Labels.Import</FluentButton>
    <FluentButton Appearance="Appearance.Stealth" IconStart="@(new Icons.Filled.Size20.ArrowExport())" OnClick="ExportAsync">@Labels.Export</FluentButton>
</FluentToolbar>
<FluentStack Orientation="Orientation.Vertical">
    <h3>@Labels.Title</h3>
    <FileTypeSummaryGrid @rendermode="InteractiveAuto" />
</FluentStack>


@code {
    bool _importing; 

    private void AddAsync()
    {
        NavigationManager.NavigateTo("/Documents/Add/FileType");
    }
    private Task ImportAsync()
    {
        return Task.CompletedTask;
    }
    private Task ExportAsync()
    {
        return Task.CompletedTask;
    }
}