@page "/Documents/Upload/Document/{DocumentContainerId}"
@page "/Documents/Upload/Document"
@using Hexalith.Documents.Requests.DocumentContainers
@using Hexalith.Documents.Requests.FileTypes
@using Hexalith.Documents.UI.Components.DocumentContainers
@inject TimeProvider TimeService
@inject IStringLocalizer<Labels> L
@rendermode InteractiveAuto

<FluentLabel Typo="Typography.PageTitle">@(L[nameof(Labels.UploadTitle)])</FluentLabel>
<br />
<FluentGrid>
	@if (DocumentContainerId is null) // Add
	{
		<FluentGridItem xs="12" md="3">
			<DocumentContainerAutocomplete Disabled="true" @bind-Id="_data.DocumentTypeId" />
		</FluentGridItem>
	}
	<FluentGridItem xs="12" md="3">
		<HexNameField @bind-Value="_data.Name"></HexNameField>
	</FluentGridItem>
	<FluentGridItem xs="12" md="3">
		<DocumentAutocomplete @bind-Id="_data.ParentDocumentId" Label="@Labels.ParentDocument" />
	</FluentGridItem>
	<FluentGridItem xs="12" md="@(DocumentContainerId is null ? 3 : 6)">
	</FluentGridItem>
	<FluentGridItem xs="12" md="3">
		<FluentInputFile Id="file-uploader"
						 Mode="InputFileMode.SaveToTemporaryFolder"
						 Multiple="true"
						 MaximumFileCount="4"
						 MaximumFileSize="@(10 * 1024 * 1024)"
						 Accept="image/*"
						 @bind-ProgressPercent="@ProgressPercent"
						 OnCompleted="@OnCompletedAsync"
						 Style="height: 300px;">
			<ChildContent>
				<label for="file-uploader">
					<FluentIcon Value="@(new @Icons.Regular.Size24.ArrowUpload())" />
				</label>

				<div>
					@(L[nameof(Labels.UploadZoneMessage)])
				</div>
			</ChildContent>
		</FluentInputFile>
	</FluentGridItem>
	<FluentGridItem md="12">
		<HexSaveButton Appearance="Appearance.Accent" OnClick="OnSave" />
	</FluentGridItem>
	<FluentGridItem>
		<HexValidationSummary ValidationResult="ValidationResult"></HexValidationSummary>
	</FluentGridItem>
</FluentGrid>

@code {
	[CascadingParameter]
	public Task<AuthenticationState>? AuthenticationStateTask { get; set; }
	[Parameter]
	public string? DocumentContainerId { get; set; }

	int ProgressPercent = 0;

	private ClaimsPrincipal? _user;
	private DocumentEditViewModel _data = new();
	private DocumentContainerDetailsViewModel? _container;
	private string _accept = "";

	private ValidationResult? ValidationResult;

	FluentInputFileEventArgs[] Files = Array.Empty<FluentInputFileEventArgs>();

	private async Task OnCompletedAsync(IEnumerable<FluentInputFileEventArgs> files)
	{
		Files = files.ToArray();

		// For the demo, delete these files.
		foreach (var file in Files)
		{
			file.LocalFile?.Delete();
		}

		// Wait 3 seconds before to reset the progress bar.
		await Task.Delay(3000);
		ProgressPercent = 0;
	}
	protected override async Task OnInitializedAsync()
	{
		if (AuthenticationStateTask is not null)
		{
			var authState = await AuthenticationStateTask;
			if (!authState.User.Identity?.IsAuthenticated == true)
			{
				NavigationManager.NavigateTo(Application.LoginPath);
			}
			_user = authState.User;
		}
		if (_user is null)
		{
			return;
		}
		var fileTypesTask = RequestService.SubmitAsync(_user, new GetFileTypeSummaries(), CancellationToken.None);
		if (DocumentContainerId is not null)
		{
			_container = await RequestService.GetDocumentContainerDetailsAsync(DocumentContainerId, _user, CancellationToken.None);
		}
		_accept = string.Join(", ", (await fileTypesTask).Results.Select(p => "." + p.ContentType).Distinct());

	}

	private async Task OnSave()
	{
		if (_data is null || _user is null || string.IsNullOrWhiteSpace(_user.Identity?.Name))
		{
			return;
		}
		if (!_data.HasChanges)
		{
			return;
		}
		ValidationResult = new DocumentEditValidation().Validate(_data);
		if (!ValidationResult.IsValid)
			return;
		DocumentCommand fileTypeCommand;
		if (DocumentContainerId is null)
		{
			fileTypeCommand = new AddDocument(
				_data.Id!,
				_data.Name!,
				_data.Comments,
				_data.Files,
				_user.Identity.Name,
				TimeService.GetLocalNow(),
				_data.DocumentContainerId!,
				_data.DocumentTypeId!);
			await CommandService.SubmitCommandAsync(_user, fileTypeCommand, CancellationToken.None);
			_data = new();
			StateHasChanged();
			return;
		}
		if (_data.DescriptionChanged)
		{
			fileTypeCommand = new ChangeDocumentDescription(
						_data.Id!,
						_data.Name!,
						_data.Comments);
			await CommandService.SubmitCommandAsync(_user, fileTypeCommand, CancellationToken.None);
		}
		if (_data.Disabled != _data.Original.Disabled && _data.Disabled)
		{
			fileTypeCommand = new DisableDocument(_data.Id);
			await CommandService.SubmitCommandAsync(_user, fileTypeCommand, CancellationToken.None);
		}
		if (_data.Disabled != _data.Original.Disabled && !_data.Disabled)
		{
			fileTypeCommand = new EnableDocument(_data.Id);
			await CommandService.SubmitCommandAsync(_user, fileTypeCommand, CancellationToken.None);
		}
	}

	private Task OnRefreshAsync()
	{
		return Task.CompletedTask;
	}

}