@page "/Documents/Document"
@page "/Documents"
<FluentToolbar Style="width:100%;">
    <AuthorizeView Policy="@DocumentPolicies.Contributors" Context="contribute">
        <Authorized Context="contribute">
            <FluentButton IconStart="@(new Icons.Filled.Size16.Add())" OnClick="AddAsync">@Labels.Add</FluentButton>
        </Authorized>
    </AuthorizeView>
</FluentToolbar>
<FluentStack Orientation="Orientation.Vertical">
    <h3>@Labels.Title</h3>
    <AuthorizeView Policy="@DocumentPolicies.Readers" Context="read">
        <Authorized Context="read">
            <DocumentSummaryGrid />
        </Authorized>
        <NotAuthorized>
            <FluentLabel Color="@Color.Error" Typo="Typography.H4">@Labels.ReadNotAuthorized</FluentLabel>
        </NotAuthorized>
    </AuthorizeView>
</FluentStack>


@code {

    private void AddAsync()
    {
        NavigationManager.NavigateTo("/Documents/Add");
    }
}