@page "/Document/Document/{DocumentId}"
@inject IDocumentQueryService DocumentQueryService
@inject NavigationManager NavigationManager
@inject IStringLocalizer<DocumentDetails> L
@inject ICommandService CommandService
@using Hexalith.Application.Commands
@using Hexalith.Documents.UI.Components.Documents.Services
@using Labels = Hexalith.Documents.UI.Pages.Resources.Documents.Pages.DocumentDetails;
@using Hexalith.Documents.Commands

<FluentStack Orientation="Orientation.Vertical" Style="padding:20px;">
	<h3>@L[Labels.Title, DocumentId]</h3>
	@if (data is not null)
	{
		<FluentStack Orientation="Orientation.Vertical">
			<FluentStack Orientation="Orientation.Vertical">
				<FluentTextField @bind-Value="data.Name" Label="@Labels.Name"></FluentTextField>
				<FluentTextField @bind-Value="@data.Description" Label="@Labels.Description"></FluentTextField>
				<FluentCheckbox @bind-Value="@data.Disabled" Label="@Labels.Disabled"></FluentCheckbox>
			</FluentStack>
			<FluentSpacer />
			<FluentButton Appearance="Appearance.Accent" Disabled="@(!data.HasChanges)" IconStart="@(new Icons.Regular.Size24.Save())" OnClick="OnSave">@Labels.Save</FluentButton>
		</FluentStack>
	}
</FluentStack>

@code {
	[Parameter]
	public string DocumentId { get; set; } = string.Empty;


	protected override async Task OnInitializedAsync()
	{
		if (string.IsNullOrWhiteSpace(DocumentId))
		{
			data = null;
			return;
		}
		data = new ( await DocumentQueryService.GetDetailsAsync(DocumentId));
	}

	ViewModels.DocumentEdit? data = null;

	public async Task OnSave()
	{
		if (data is null)
		{
			return;
		}
		if (data.Name == data.Original.Name || data.Description != data.Original.Description)
		{
			await CommandService.SubmitCommandAsync(new ChangeDocumentDescription(data.Id, data.Name, data.Description), CancellationToken.None);
		}
		if (data.Disabled == data.Original?.Disabled)
		{
			await CommandService.SubmitCommandAsync(new DisableDocument(data.Id), CancellationToken.None);
		}
		NavigationManager.NavigateTo("/Document/Document");
	}

}