@page "/Documents/Add"
@page "/Documents/Document/Add"
@attribute [Authorize(Roles = DocumentRoles.Contributor)]
@inject IDocumentQueryService DocumentQueryService
@inject NavigationManager NavigationManager
@inject IStringLocalizer<DocumentAdd> L
@inject ICommandService CommandService
@using Labels = Resources.Documents.DocumentAdd;
@using System.Security.Claims
<FluentStack Orientation="Orientation.Vertical" Style="padding:20px;">
    <h3>@L[Labels.Title, _documentId]</h3>
    @if (_data is not null)
    {
        <FluentStack Orientation="Orientation.Vertical">
            <FluentStack Orientation="Orientation.Vertical">
                <FluentTextField @bind-Value="_data.DocumentTypeId" Label="@Labels.DocumentTypeId"></FluentTextField>
                <FluentTextField @bind-Value="_data.Name" Label="@Labels.Name"></FluentTextField>
                <FluentTextField @bind-Value="@_data.Description" Label="@Labels.Description"></FluentTextField>
            </FluentStack>
            <FluentSpacer />
            <FluentButton Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size24.Add())" OnClick="OnAdd">@Labels.Add</FluentButton>
        </FluentStack>
    }
</FluentStack>

@code {
    [Parameter]
    public string? DocumentId { get; set; }

    [CascadingParameter]
    public Task<AuthenticationState>? AuthenticationStateTask { get; set; }

    private string _documentId => DocumentId ?? Hexalith.Extensions.Helpers.UniqueIdHelper.GenerateUniqueStringId();

    ClaimsPrincipal? _user;

    DocumentAddViewModel? _data = new DocumentAddViewModel();

    protected override async Task OnInitializedAsync()
    {
        if (AuthenticationStateTask is not null)
        {
            var authState = await AuthenticationStateTask;
            if (!authState.User.Identity?.IsAuthenticated == true)
            {
                NavigationManager.NavigateTo(Application.LoginPath);
            }
            _user = authState.User;
        }
    }

    public async Task OnAdd()
    {
        if (_data is null || _user is null)
        {
            return;
        }
        if (string.IsNullOrWhiteSpace(_user?.Identity?.Name))
        {
            throw new InvalidOperationException("User not authenticated");
        }
        await CommandService.SubmitCommandAsync(_user, new AddDocument(
                _data.Id,
                _data.Name!,
                _data.Description!,
                new FileDescription(string.Empty, string.Empty, string.Empty, string.Empty),
                _user.Identity.Name,
                TimeProvider.System.GetLocalNow(),
                _data.DocumentTypeId!)
            , CancellationToken.None);
        NavigationManager.NavigateTo(Module.Path);
    }

}