@page "/Documents/Document/{DocumentId}"
@inject IDocumentQueryService DocumentQueryService
@inject NavigationManager NavigationManager
@inject IStringLocalizer<DocumentDetails> L
@inject ICommandService CommandService
@using Labels = Resources.Documents.DocumentDetails;
@using System.Security.Claims
<FluentStack Orientation="Orientation.Vertical" Style="padding:20px;">
    <h3>@L[Labels.Title, _documentId]</h3>
    @if (_data is not null)
    {
        <FluentStack Orientation="Orientation.Vertical">
            <FluentStack Orientation="Orientation.Vertical">
                <FluentTextField @bind-Value="_data.Name" Label="@Labels.Name"></FluentTextField>
                <FluentTextField @bind-Value="@_data.Description" Label="@Labels.Description"></FluentTextField>
                <FluentCheckbox @bind-Value="@_data.Disabled" Label="@Labels.Disabled"></FluentCheckbox>
            </FluentStack>
            <FluentSpacer />
            <AuthorizeView Roles="@DocumentRoles.Contributor">
                <Authorized>
                    @if (string.IsNullOrWhiteSpace(DocumentId))
                    {
                        <FluentButton Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size24.Add())" OnClick="OnAdd">@Labels.Add</FluentButton>
                    }
                    else
                    {
                        <FluentButton Appearance="Appearance.Accent" Disabled="@(!_data.HasChanges)" IconStart="@(new Icons.Regular.Size24.Save())" OnClick="OnSave">@Labels.Save</FluentButton>
                    }
                </Authorized>
                <NotAuthorized>
                </NotAuthorized>
            </AuthorizeView>
        </FluentStack>
    }
</FluentStack>

@code {
    [Parameter]
    public string? DocumentId { get; set; }

    [CascadingParameter]
    public Task<AuthenticationState>? AuthenticationStateTask { get; set; }

    private string _documentId => DocumentId ?? Hexalith.Extensions.Helpers.UniqueIdHelper.GenerateUniqueStringId();

    ClaimsPrincipal? _user;


    protected override async Task OnInitializedAsync()
    {
        if (AuthenticationStateTask is not null)
        {
            var authState = await AuthenticationStateTask;
            if (!authState.User.Identity?.IsAuthenticated == true)
            {
                NavigationManager.NavigateTo(Application.LoginPath);
            }
            _user = authState.User;
        }
        if (string.IsNullOrWhiteSpace(DocumentId))
        {
            _data = new ViewModels.DocumentEditViewModel();
            return;
        }
        else
        {
            _data = new(await DocumentQueryService.GetDetailsAsync(DocumentId));
        }

        await base.OnInitializedAsync();
    }

    DocumentEditViewModel? _data = null;

    public async Task OnSave()
    {
        if (_data is null || _user is null)
        {
            return;
        }
        if (_data.Name == _data.Original.Name || _data.Description != _data.Original.Description)
        {
            await CommandService.SubmitCommandAsync(_user, new ChangeDocumentDescription(_data.Id, _data.Name, _data.Description), CancellationToken.None);
        }
        if (_data.Disabled == _data.Original?.Disabled)
        {
            await CommandService.SubmitCommandAsync(_user, new DisableDocument(_data.Id), CancellationToken.None);
        }
        NavigationManager.NavigateTo("/Documents");
    }
    public async Task OnAdd()
    {
        if (_data is null)
        {
            return;
        }
        if (string.IsNullOrWhiteSpace(_user?.Identity?.Name))
        {
            throw new InvalidOperationException("User not authenticated");
        }
        await CommandService.SubmitCommandAsync(_user, new AddDocument(
                _data.Id,
                _data.Name,
                _data.Description,
				new FileDescription(string.Empty, string.Empty, string.Empty, string.Empty),
                _user.Identity.Name,
                TimeProvider.System.GetLocalNow(),
                _data.DocumentTypeId)
            , CancellationToken.None);
        NavigationManager.NavigateTo("/Documents");
    }

}